@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

p {
  color: rgb(85, 85, 85);
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  transition: all 300ms ease;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.reset {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}

header{
  position: fixed;
  top:0; left:0; right:0;
  background: #65ffbc;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .4rem 1rem #33333315;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
}


header .navbar a{
  font-size: 1.5rem;
  padding:0 1rem;
}

header .icons a{
  font-size: 2.5rem;
  color:var(--beige);
  margin-left: 1rem;
}

header .icons a:hover{
  color:var(--hoverColor);
}

header #toggler{
  display: none;
}

header .fa-bars{
  font-size: 3rem;
  color:var(--beige);
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  cursor: pointer;
  border:.1rem solid var(--beige);
  display: none;
}

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  margin-bottom: 10rem;
}

#profile {
  display: flex;
  transform: translateY(80px);
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
  margin-top: 90px;
}

.section__text__p1 {
  font-size: 1.5rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  text-align: center;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  background: none;
  transition: all 300ms ease;
}

.btn:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.email-icon {
  height: 2.5rem;
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile, #contact, #about, #projects {
   margin-top: 90px;
  }

  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  header {
    padding: 10px;
  }

  header .fa-bars{
    display: block;
    transform: translateX(410px);
    font-size: 30px;
  }

  header .logo{
    font-size: 1.8rem;
    transform: translateX(-110px);
    white-space: nowrap;
  }


  header .navbar{
      position:absolute;
      top:100%; left:0; right:0;
      background: #eee;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.2rem;
        padding:1.2rem;
        background: #fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 600px) {
  #contact {
    margin-bottom: 10rem;
  }
  #profile, #about, #projects {
    height: 83vh;
    margin-bottom: 10px;
  }
  .details-container {
    margin-top: 15px;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    font-size: .9rem;
    text-align: justify;
  }

  .section__text {
    margin-top: 0px;
  }
  
  
}

